@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
  }

  .glass-card {
    @apply bg-white/80 backdrop-blur-sm border border-slate-200/50 shadow-sm rounded-2xl;
  }
}
